header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 518px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 60px ;
    width: 605px;
    height: 30px;
}

.network {
    display: flex;
    align-items: center;
    margin-right: 60px;
    justify-content: space-between;
    width: 65px;
    height: 21px;
}

.navigation a {
    color: #9F9F9F;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;

    text-decoration: none;
}

.navigation a:hover {
    font-weight: bold;
}

.navigation a[class="bold"] {
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

    color: #000000;

}

.banniere {
    height: 427px;
    width: 1920px;
}